body {
    background: linear-gradient(45deg, rgb(104, 218, 246) 0%, rgb(160, 41, 39) 100%);
    color: antiquewhite;
}

section {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.list {
    font-size: 10px;
    list-style: none;
}

.container-nav {
    background-color: rgba(15, 25, 83, 0.72);
    color: antiquewhite;
    height: 60px;
}

.album {
    text-align: center;
    padding-bottom: 1em;
    margin: 1em;
}

.title {
    margin-top: 0.50em;
    margin-bottom: 0.25em;
    font-size: 1.3em
} 